body {
    background-color: #040D12;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

* {
    color:  #ffffff;
    transition: all 200ms ease-in-out;
}

form {
    display: flex;
}

hr {
    border-color: #5C8374;
    width: 100%;
}

h1, h2 {
    margin-block: 0;
    margin-top: 1.2em;
}

h3, h4 {
    font-weight: 400;
    margin: 0;
    color: #dbdbdb;
}

label {
  display: none;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 600;
}

.inputContainer {
    width: 80%;
}

input {
    all: unset;
    box-sizing: border-box;
    background-color: #020202;
    font-size: 1.4rem;
    padding: 0.4rem;
    margin-right: 0.2em;
    width: 100%;
    border: solid #020202 1px;    
    border-radius: 0.5rem;
}

input:focus {
    border: solid #93B1A6 1px;
}

input::placeholder {
    color:  #344941;
}

button[type="submit"] {
    all: unset;
    text-align: center;
    background-color: #5C8374;
    font-size: 1.4rem;
    padding: 0.4em 0.7rem;
    border-radius: 0.5em;
    text-wrap: nowrap;
    height: 27px;
    width: 18%;
    min-width: fit-content;
    margin-top: auto;
    margin-left: 4px;
}

button[type="submit"]:hover {
    cursor: pointer;
    background-color: #93B1A6;
}

main {
    width: 70%;
    min-width: 600px;
}

section {
    background-color: #183D3D;
    padding: 1rem;
    border-radius: 1.6em;
    margin: 1rem 0;
    border: 1px dashed #5C8374;
}

#resultado {
    min-height: 100px;
    width: 100%;
    padding-inline: 1rem;
    font-size: 1.3rem;
}